body {
}

.title {
    margin-left: 0px;
    margin-right: 350px;
    padding: 25px;
    justify-content: space-between;
}
.help {
    margin: 25px;
    padding: 25px;
    justify-content: space-between;
}
.home {
    margin: 25px;
    padding: 25px;
    justify-content: space-between;
}


