@inject NavigationManager Navigation

<!--This is the top menu razor page-->

<!--Title-->
<div class="title">
    <h3>JCHS Partners</h3>
</div>

<!--Help Button-->
<div class="help">
    <a href="@("/help")" class="btn btn-secondary">Help</a>
</div>

<!--Home Button-->
<div class="home">
    <a href="@("/")" class="btn btn-secondary">Home</a>
</div>


<!--Create button-->
<div class="create">
    <a href="@("/add")" class="btn btn-secondary">Create</a>
</div>


@code {


    
}
