@page "/add"
@inject IPartnerRepository Repository
@inject NavigationManager Navigation

<PageTitle>Add Partner</PageTitle>




<div class="row justify-content-center">
    <div class="col-6">
    <EditForm method="post" FormName="AddPartner" OnValidSubmit="AddPartna" Model="Partner" autocomplete="off">
        <div class="mb-3">
            <label for="name" class="label">
                Company Name
            </label>
            <InputText id="name" @bind-Value="Partner.Name" class="input-form" />
        </div>
        <div class="mb-3">
            <label for="description" class="label">
                Description
            </label>
        
            <InputText id="description" @bind-Value="Partner.Description" class="input-form" />
        </div>
        <div class="mb-3">

            <label for="inDate" class="label">
                Signing Date
            </label>
            <InputDate id="inDate" @bind-Value="Partner.SigningDate" class="input-form" />
        </div>
        <div class="mb-3">

            <label for="outDate" class="label">
                Closing Date
            </label>
            <InputDate id="outDate" @bind-Value="Partner.ClosingDate" class="input-form" />
        </div>
        <div class="mb-3">

            <label for="priCon" class="label">
                Primary Contact
            </label>
            <InputText id="priCon" @bind-Value="Partner.ContactPrimary" class="input-form" />

        </div>
        <div class="mb-3">

            <label for="secCon" class="label">
                Secondary Contact
            </label>
            <InputText id="secCon" @bind-Value="Partner.ContactSecondary" class="input-form" />
        </div>

        <div class="mb-3">

            <label for="CompanyType" class="label">
                Type of Company
            </label>
            <InputSelect id="CompanyType" @bind-Value="Partner.Category" class="input-form">
                <option value="0">
                    Select Company Type
                </option>
                @foreach (var comType in Enum.GetValues(typeof(Category)))
                {
                    <option value="@comType">
                        @comType.ToString()
                    </option>
                }
            </InputSelect>
        </div>

        <div class="addBtn">
            <button class="btnAdd">
                Add
            </button>
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
    </div>
</div>

@code {

    [SupplyParameterFromForm]
    public Partner Partner { get; set; } = new();

    private async Task AddPartna()
    {
        await Repository.Create(Partner);
        Navigation.NavigateTo("/");

    }
}
