@page "/"
@inject NavigationManager Navigation
@inject IPartnerRepository Repository

<PageTitle>Home</PageTitle>


<div>
    @if(partners is null)
    {
        <p>No partner u r broke...</p>
    }
    else if(partners is not null)
    {
        @foreach(var partner in partners)
        {
            <p>Company: @partner.Name &ensp; Signing Date: @partner.SigningDate</p>
            <a href="update" class="btn btn-primary">
                Edit Company
            </a>
            <a href="delete" class="btn btn-primary">
                Delete Company
            </a>
        }
    }
</div>
<a href="add" class="btn btn-primary">
    Add New Company
</a>


@code {
    private List<Partner>? partners;

    protected override async Task OnInitializedAsync()
    {
        partners = await Repository.GetAll();
    }
}

