@page "/edit/{PartnaId:int}"
@inject IPartnerRepository Repository
@inject NavigationManager Navigation

<PageTitle>Edit Partner</PageTitle>
@if(Partner is not null)
{
    <div class="row justify-content-center">
        <div class="col-6">
            <EditForm method="post" FormName="EditPartner" OnValidSubmit="EditPartna" Model="Partner" autocomplete="off">
                <h1>Edit Partner</h1>
                <input type="hidden" name="Partner.Id" value="@Partner.Id" />
                <div class="mb-3">
                    <label for="name" class="label">
                        Company Name
                    </label>
                    <InputText id="name" @bind-Value="Partner.Name" class="form-control shadow-none" />
                </div>
                <div class="mb-3">
                    <label for="description" class="label">
                        Description
                    </label>

                    <InputText id="description" @bind-Value="Partner.Description" class="form-control shadow-none" />
                </div>
                <div class="mb-3">

                    <label for="inDate" class="label">
                        Signing Date
                    </label>
                    <InputDate id="inDate" @bind-Value="Partner.SigningDate" class="form-control shadow-none" />
                </div>
                <div class="mb-3">

                    <label for="outDate" class="label">
                        Closing Date
                    </label>
                    <InputDate id="outDate" @bind-Value="Partner.ClosingDate" class="form-control shadow-nonem" />
                </div>
                <div class="mb-3">
                    <label for="priCon" class="label">
                        Primary Contact
                    </label>
                    <InputText id="priCon" @bind-Value="Partner.ContactPrimary" class="form-control shadow-none" />
                </div>
                <div class="mb-3">
                    <label for="secCon" class="label">
                        Secondary Contact
                    </label>
                    <InputText id="secCon" @bind-Value="Partner.ContactSecondary" class="form-control shadow-none" />
                </div>
                <div class="mb-3">
                    <label for="CompanyType" class="label">
                        Type of Company
                    </label>
                    <InputSelect id="CompanyType" @bind-Value="Partner.Category" class="form-control shadow-none">
                        <option value="0">
                            Select Company Type
                        </option>
                        @foreach (var comType in Enum.GetValues(typeof(Category)))
                        {
                            <option value="@comType">
                                @comType.ToString()
                            </option>
                        }
                    </InputSelect>
                </div>

                <div class="addBtn">
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </div>
                <DataAnnotationsValidator />
                <ValidationSummary />
            </EditForm>
        </div>
    </div>
}
@code {
    [Parameter]
    public int PartnaId { get; set; }

    [SupplyParameterFromForm]
    public Partner? Partner { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Partner ??= await Repository.GetById(PartnaId);

    }

    private async Task EditPartna()
    {
        if (Partner is not null)
        {
            await Repository.Update(Partner);
            Navigation.NavigateTo("/");
        }
        
    }


}
